# Getting Started with sanityze

## If you are developing locally

After checking out the repository, you can run the following commands to install the package and its dependencies:

```bash
$ poetry install
```

Open this notebook in JupyterLab and run the cells in section "Example".

## If you are using the public package

To use `sanityze` in a project, You can install it from PyPI:

```bash
$ pip install sanityze
```

Then, you can import it in your code:

```python
from sanityze.cleanser import *
from sanityze.spotters import *
```
```

## Examples

In [44]:
# setup a dummy test dataframe
import pandas as pd
data = {'product_name': ['laptop', 'printer foo@gaga.com', 'tablet', 'desk 5555 5555 5555 4444', 'chair'],
        'price': [1200, 150, 300, 450, 200]
        }
df = pd.DataFrame(data)
df.head()

               product_name  price
0                    laptop   1200
1      printer foo@gaga.com    150
2                    tablet    300
3  desk 5555 5555 5555 4444    450
4                     chair    200

In [45]:
from sanityze.cleanser import *
c = Cleanser()
c.clean(df)

  product_name  price
0         None   1200
1         None    150
2         None    300
3         None    450
4         None    200